body {
    margin: 0;
    font-family: Open Sans,sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

p {
    max-width:60%;
    line-height:1.2em;
}

/* ----------------TOPNAV---------------- */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #111;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/* ----------------NAV---------------- */

.nav {
    width: 100vw;
    height: 100vh;
    max-width:100%;
}

.nav#home {
        background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#home .fadeIn {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.nav#services {
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: white;    
}

.nav#contact {
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: white;
}

/* ----------------Pricing---------------- */
.nav#pricing {
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr;
}

#pricing .header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#pricing .columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap:5vh;
    padding: 5vh;    
}

.price {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 25px;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #0b3a42;
    color: white;
    font-size: 25px;
    border-radius: 10px 10px 0 0;    
}

.price li {
    border-bottom: 1px solid grey;
    background-color: white;
    padding: 20px;
    text-align: center;
}
.price .na {
    color: grey;
}
.price .headerPrice {
    font-size: 20px;
    font-weight: bold;
}

.price .containerButton {  
    border: none; 
    border-radius: 0 0 10px 10px;    
}

.button {
    background-color: #8fd16f;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 25px;
    border: none;
}

/*---Services---*/
.service{
    list-style-type: circle;
    line-height: 2em;
    font-size: 175%;
    color: white;
}

/* ---Form--- */
.content {
    width: 50%;
}
label{
	padding: 2rem;
	text-align:left;
}
input, textarea{
	padding: 10px;
	background-color:white;
	width: 100%;
	margin: auto;
}
input:focus, textarea:focus{
    border-color: #00c6ff;
}

/* ANIMATION */

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}